
.line {
    justify-content: center;
    display: flex;
    margin: 7px;
    flex-direction: row;
    -webkit-box-shadow: -6px 6px 3px -3px rgba(66, 68, 90, 1);
    -moz-box-shadow: -6px 6px 3px -3px rgba(66, 68, 90, 1);
    box-shadow: -6px 6px 3px -3px rgba(66, 68, 90, 1);
    transition: 0.1s;
}

.line:hover {
    transform:scale(1.005);
}

    .line > div {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
        margin: 1px;
        padding: 1px;
        font-size: 10px;
        justify-content: center;
        text-align: center;
        font-family: 'Lexend Deca', sans-serif;
    }
    .jobId_content {
        width: 100px;
    }
    .date_content {
        width:200px;
    }
    .status_content {
        width: 200px;
        color:green;
    }
    .system_content {
        width: 120px;
        color: red;
    }
    .type_content {
        width: 120px;
    }
    .gpdm_content {
        width: 60px;
    }
    .client_content {
        width: 250px;
    }
    .responsible_engineer_content {
        width: 350px;
    }
    .description_projectname_content {
        width: 600px;
    }
    .ecm_projectnumber_content {
        width: 160px;
    }
 

@media (max-width: 800px) {
    .line {
        width: 80%;
        flex-direction: column;
    }
    .line > div {
        border-bottom:2px solid grey;
         width: 100%;
    }
}

.button-62 {
    margin:5px;
    background: linear-gradient(to bottom right, #EF4765, #FF9A5A);
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 10px;
    font-weight: 300;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.button-62:not([disabled]):focus {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}

.button-62:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(239, 71, 101, 0.5), .125rem .125rem 1rem rgba(255, 154, 90, 0.5);
}