@model Aplikacja.DTOS.UserDtos.UserDto
@{
    ViewData["Title"] = "Privacy Page";
}

<h1>@Model.Email</h1>
<div><img src="data:image/jpeg;base64,@Convert.ToBase64String(Model.Photo)" style="max-width:100px;max-height:100px" alt="@Model.Photo"></div>
